<div class="store_show">

  <div class="store_show__title">
    <h3><span>店舗詳細</span></h3>
  </div>

  <div class="store_show__main">

    <div class="show__main__lift">
      <%= image_tag @storeTOP.images[0], class: "show__main__lift__image",id: "main_image_top" %>
      <ul>
        <% @storeTOP.images.each do |i| %>
          <li><%= image_tag i, class: "thumbnail_image" %></li>
        <% end %>
      </ul>
    </div>


    <div class="show__main__right">

      <div class="show__main__right__name">
      店名<br>
        <%= @storeTOP.name %>
      </div>
      <div class="show__main__right__phone">
      電話番号<br>
        <%= @storeTOP.phone %>
      </div>
      <div class="show__main__right__address">
        住所<br>
        <%= @storeTOP.address %>
      </div>
      <div class="show__main__right__time">
        営業時間: <%= @storeTOP.open_time.time.strftime('%H:%M') %> ~ <%= @storeTOP.close_time.time.strftime('%H:%M') %>
      </div>
      <div class="show__main__right__holiday">
        定休日: <%= @storeTOP.holiday.name %>
      </div>
    </div>

  </div>
  <%# GooglemapAPI導入予定 %>
  <p>Googleマップ</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4727.195138729142!2d136.88872574390257!3d35.345673655136636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60030be20f1f1a35%3A0xd1bcef5b92747e43!2z5qCX6Iqz!5e0!3m2!1sja!2sjp!4v1616836388504!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <%= render "tops/link" %>
</div>

