<header class="header sticky-top">
  <div class="header_left">
    <a href=""></a><%= image_tag "rogo.jpg", class: "logo" %>
    <p class="logo_title"><%= link_to "栗芳", root_path, class: "logo_title" %></p>
  </div>
  <%# PC %>
  <div class="header_right">
    <nav>
      <ul class="menu-group">
        <li class="menu-item"><%= link_to "商品一覧画面", root_path %></li>
        <li class="menu-item"><%= link_to "新着情報", news_index_path %></li>
        <li class="menu-item"><%= link_to "店舗情報", store_path(@storeTOP.id) %></li>
        <li class="menu-item"><a href="#">購入シュミレーション</a></li>
        <li class="menu-item"><a href="#">キャンペーン情報</a></li>
        <% if user_signed_in? %>
          <li class="menu-item"><%= link_to "管理者メニュー",  items_path, class: "menu-item" %></li>
          <li class="menu-item"><%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "menu-item" %></li>
        <% end %>
    </ul>
    </nav>
  </div>
  <%# SP %>
  <div class="nav-wrapper">
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="menu-list"><%= link_to "商品一覧画面", root_path %></li>
        <li class="menu-list"><%= link_to "新着情報", news_index_path %></li>
        <li class="menu-list"><%= link_to "店舗情報", store_path(@storeTOP.id) %></li>
        <li class="menu-list"><a href="#">購入シュミレーション</a></li>
        <li class="menu-list"><a href="#">キャンペーン情報</a></li>
        <% if user_signed_in? %>
          <li class="menu-list"><%= link_to "管理者メニュー",  items_path, class: "menu-list" %></li>
          <li class="menu-list"><%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "menu-list" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <%# バーガーボタン %>
  <div class="burger-btn">
    <span class="bar bar_top"></span>
    <span class="bar bar_mid"></span>
    <span class="bar bar_bottom"></span>
  </div>
</header>
