<div class="item_list row">
  <% if !@items.empty? %>
    <% @items.each do |item| %>
      <%= link_to top_path(item.id), class: "item_card col-12 col-sm-12 col-lg-6" do %>
      <% if item.sale_id != 1 %>
        <p class="campaignflg">キャンペーン中！</p>
      <% end %>
        <div class="item_image">
          <% if !item.images[1].nil? %>
            <%= image_tag item.images[1], class: "top_main_image" %>
          <% else %>
            <%= image_tag item.images[0], class: "top_main_image" %>
          <% end %>
          <%= image_tag item.images[0], class: "top_sub_image" %>
        </div>
        <div class="item_body">
          <h3 class="item_name"><%= item.name %></h3>
          <% if item.sale_id == 1 %>
            <div class="item_price">¥<%= item.price %></div>
          <% else %>
          <div class="sale">
            <div class="sale__item_price">¥<%= item.price %></div>
            <% salePrice = item.price.to_i * item.sale.sale %>
            <div class="sale__item_saleprice">=> <span> ¥<%= salePrice.to_i %></span></div>
          </div>
          <% end %>

        </div>
      <% end %>
    <% end %>
  <% else %>
    登録されている商品ありません。
  <% end %>
</div>
