<%# スライダー部分 %>
<div class="priviews">
  <div class="slider">
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
  </div>
</div>

<%# お知らせ部分 %>
<div class="news_container">
  <div class="new_title">
    <p class="new_title_font">新着情報</p>
  </div>
  <div class="news_all">
    <%= link_to "新着情報一覧へ", news_index_path, class: "news_all_btn" %>
  </div>
  <% if !@newsList.empty? %>
    <%= render partial: "news/newsList", collection: @newsList %>
  <% else %>
    <div class="no_news">新着情報はまだありません。</div>
  <% end %>
</div>

<%# 商品一覧 %>
<div class="item_container">
  <div class="item_title">
    <p>商品一覧</p>
  </div>

  <div class="search">
  </div>


  <div class="item_list row justify-content-center">
    <% if !@items.empty? %>
      <% @items.each do |item| %>
        <%= link_to top_path(item.id), class: "item_card col-12 col-sm-6 col-lg-4" do %>
          <div class="item_image">
          <% if !item.images[1].nil? %>
            <%= image_tag item.images[1], class: "top_main_image" %>
          <% else %>
            <%= image_tag item.images[0], class: "top_main_image" %>
          <% end %>
            <%= image_tag item.images[0], class: "top_sub_image" %>
          </div>
          <div class="item_body">
            <h3 class="item_name"><%= item.name %></h3>
            <div class="item_price">¥<%= item.price %></div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      登録されている商品ありません。
    <% end %>
  </div>
</div>


