<%# スライダー部分 %>
<div class="priviews">
  <div class="slider">
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
  </div>
</div>

<%# お知らせ部分 %>
<div class="news_container">
  <div class="new_title">
    <p class="new_title_font">新着情報</p>
  </div>
  <div class="news_all">
    <%= link_to "新着情報一覧へ", news_index_path, class: "news_all_btn" %>
  </div>
  <% if !@newsList.empty? %>
    <%= render partial: "news/newsList", collection: @newsList %>
  <% else %>
    <div class="no_news">新着情報はまだありません。</div>
  <% end %>
</div>

<%# 商品一覧 %>
<div class="item_container">
  <div class="item_title">
    <p>商品一覧</p>
  </div>

  <div class="search">
  </div>

  <%= render 'itemList' %>


</div>

<%# 店舗情報 %>

<div class="store_container">
  <div class="store_container__title">
    <h3><span>店舗情報</span></h3>
  </div>

<% if !@storeTOP.blank? %>
  <%= link_to store_path(@storeTOP.id) do %>
    <div class="store_container__main">
      <div class="store_container__main__left">
        <div class="store_container__main__left__image">
          <%= image_tag @storeTOP.images[0] %>
        </div>
      </div>

      <div class="store_container__main__right">
        <div class="store_container__main__right__name">
          <%= @storeTOP.name %>
        </div>

        <div class="store_container__main__right__phone">
          <span>電話番号:</span>  <%= @storeTOP.phone %>
        </div>

        <div class="store_container__main__right__address">
          住所: <%= @storeTOP.address %>
        </div>

        <div class="store_container__main__right__time">
          営業時間: <%= @storeTOP.open_time.time.strftime('%H:%M') %> ~ <%= @storeTOP.close_time.time.strftime('%H:%M') %>
        </div>

        <div class="store_container__main__right__holiday">
          定休日: <%= @storeTOP.holiday.name %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= render "link" %>
</div>


