<%# スライダー部分 %>
<div class="priviews">
  <div class="slider">
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
  </div>
</div>

<%# お知らせ部分 %>
<div class="news_container">
  <div class="new_title">
    <p class="new_title_font">新着情報</p>
  </div>
  <div class="news_all">
    <%= link_to "新着情報一覧へ", root_path, class: "news_all_btn" %>
  </div>
  <div class="news_topics">
    <ul>
      <li class="topic">2020/03/11 タイトル</li>
      <li class="topic">2020/03/11 タイトル</li>
      <li class="topic">2020/03/11 タイトル</li>
    </ul>
  </div>
</div>

<%# 商品一覧 %>
<div class="item_container">
  <div class="item_title">
    <p>商品一覧</p>
  </div>

  <div class="search">
  </div>


  <div class="item_list row justify-content-center">
    <% if @items %>
      <% @items.each do |item| %>
        <%= link_to top_path(item.id), class: "item_card col-12 col-sm-6 col-lg-4" do %>
          <div class="item_image">
          <%= image_tag item.images[1], class: "top_main_image" %>
          <%= image_tag item.images[0], class: "top_sub_image" %>
          </div>
          <div class="item_body">
            <h3 class="item_name"><%= item.name %></h3>
            <div class="item_price">¥<%= item.price %></div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      登録されている商品ありません。
    <% end %>
  </div>
</div>


