<div class="item_show">
  <div class="item_show__image">
  <%= image_tag @item.images[0], class: "main_image",id: "main_image_top" %>
  <ul>
    <% @item.images.each do |i| %>
      <li><%= image_tag i, class: "thumbnail_image" %></li>
    <% end %>
  </ul>
  </div>
  <div class="item_show__name">
    <p><%= @item.name %></p>
  </div>
  <div class="item_show__price">
    <p>¥<%= @item.price %>-</p>
  </div>
  <div class="item_show__content">
    <p>商品説明</p>
    <p><%= @item.content %></p>
  </div>
  <%= render "link" %>
</div>

