<div class="item_show">
  <div class="item_show__image">
  <%= image_tag @item.images[0], class: "main_image",id: "main_image_top" %>
  <ul>
    <% @item.images.each do |i| %>
      <li><%= image_tag i, class: "thumbnail_image" %></li>
    <% end %>
  </ul>
  </div>
  <div class="item_show__name">
    <p><%= @item.name %></p>
  </div>
  <div class="item_show__price">
    <% if @item.sale_id != 1 %>
      <p class="sale__item_price">¥<%= @item.price %>-</p>
      <p class="sale__item_saleprice"><span>  ¥<% saleprice = @item.price.to_i * @item.sale.sale %><%= saleprice.to_i  %>-  </span><%= @item.sale.name %>OFF</p>
    <% else %>
      <p class="sale">¥<%= @item.price %>-</p>
    <% end %>
  </div>

  <div class="item_show__content">
    <p>商品説明</p>
    <%= simple_format(@item.content) %>
  </div>
  <%= render "link" %>
</div>

