<div class="news_index__menu">
  <%= link_to news_path(newsList.id), class: "news_index__lists" do %>
      <div class="news_index__list__time"><%= newsList.created_at.strftime('%Y/%m/%d') %></div>
      <div class="news_index__list__title"><%= newsList.title %></div>
  <% end %>
  <% if user_signed_in? %>
      <div class="news_index__list__edit"><%= link_to "編集", edit_news_path(newsList.id) %></div>
      <div class="news_index__list__delete"><%= link_to "削除", news_path(newsList.id), method: :delete, data: { confirm:"削除する場合データを戻せません、本当に削除しますか？" } %></div>
  <% end %>
  </div>
