<div class="items">
  <div class="item_name">
    <label for="">商品名</label>
    <%= f.text_field :name, class: "name", id: "name", placeholder: "商品名を入力" %>
  </div>
  <div class="item_content">
    <label for="">商品説明</label>
    <%= f.text_area :content, class: "content", id: "content", placeholder: "商品説明文を入力" %>
    <p class="conent_count">
      <span class="content_count">0</span>/1000
    </p>
  </div>
  <div class="item_price">
    <label for="">商品価格</label>
    <%= f.text_field :price, class: "price", id: "price", placeholder: "商品価格を入力" %>
  </div>
  <div class="item_category">
    <label for="">商品カテゴリー</label>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="item_season">
    <label for="">季節</label>
    <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="item_sale">
    <label for="">キャンペーン価格</label>
    <%= f.collection_select(:sale_id, Sale.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <%# TODO リファクタリング必要 %>
  <div class="item_image__input">

    <div class="item_image__filed">
      <label for="">商品画像(メイン画像)<span>必須</span></label>
      <%= f.file_field :image, id: "item-image1", class:"file" ,name: "item[images][]" %>
    </div>

    <div class="item_image__filed">
      <label for="">商品画像(切り替わり画像)<span>必須</span></label>
      <%= f.file_field :image, id: "item-image2", class:"file" ,name: "item[images][]" %>
    </div>

    <div class="item_image__filed">
      <label for="">商品画像<span>任意</span></label>
      <%= f.file_field :image, id: "item-image3", class:"file" ,name: "item[images][]" %>
    </div>

    <div class="item_image__filed">
      <label for="">商品画像<span>任意</span></label>
      <%= f.file_field :image, id: "item-image4", class:"file" ,name: "item[images][]" %>
    </div>

    <div class="item_image__filed">
      <label for="">商品画像<span>任意</span></label>
      <%= f.file_field :image, id: "item-image5", class:"file" ,name: "item[images][]" %>
    </div>


    <%# 編集時編集前の画像表示 TODO 各登録・編集機能に実装、テンプレートとして切り出す  %>
  <% if @item.images.attached? %>
    <p>編集前画像</p>
    <% @item.images.each do |image| %>
    <%= image_tag image ,class: "edit_image_size" %></p>
    <% end %>
  <% end %>
  <%# -------------------------------------------------------------------- %>
  </div>
</div>
<div class="item_btn">
  <%= f.submit "登録する", class: "item_btn__submit" %>
  <%= link_to "戻る", items_path, class: "item_btn__back" %>
</div>

