<div class="kanri_title">
  <h3>管理者メニュー</h3>
</div>

<div class="menu">
  <%= link_to "商品登録", new_item_path, class: "kanri_list item_input" %>
  <%= link_to "商品編集・削除", items_list_path, class: "kanri_list item_edit" %>
  <%= link_to "新着情報登録", new_news_path, class: "kanri_list news_input" %>
  <%= link_to "新着情報編集・削除", news_index_path, class: "kanri_list news_edit" %>
  <%= link_to "店舗情報登録", new_store_path, class: "kanri_list store_input" %>
  <%= link_to "店舗情報編集", stores_path, class: "kanri_list store_edit" %>
</div>
