<h1>
  商品検索
</h1>
<%= search_form_for @p, url: search_sales_path do |f| %>
  <%= f.label :day_cont, '日付' %>
  <%#= f.collection_select :day_eq, @sales, :day, :day,  include_blank: '指定なし' %>
  <%#= f.date_select :day_eq, @sales, :day, :day,  include_blank: '指定なし' %>
  <%#= f.date_field :day %>
  <%= f.label "範囲検索" %>
    <%= f.date_field :day_gteq, include_blank: true %> 〜　
    <%= f.date_field :day_lteq, include_blank: true %>
  <br>

  <%= f.submit '検索' %>
<% end %>
